.background{
  background-image: url(background.jpg);
  background-size: cover;
}
.black-box{
  margin-top: 30px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-left: 100px;
  border-top: 50px solid rgba(30,30,30,0.8);
  border-right: 100px solid rgba(30,30,30,0.8);
  border-bottom: 50px solid rgba(30,30,30,0.8);
  border-left: 100px solid rgba(30,30,30,0.8);
  border-radius: 3%;
}
.background2{
  background-color: rgba(30,30,30,0.8);
}
.title{
  color: rgb(0, 200, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  font-family: Ubuntu;
}
.logo{
  width: 200px;
  color: transparent;
}
.green-box{
  background-color: rgb(0, 200, 0);
  display: block;
  border: 3px solid rgb(0, 200, 0);
  padding: 10px;
}
.button{
  align-items: center;
  border: 3px solid rgb(0, 200, 0);
  display: flex;
  justify-content: center;
}
.scooter1{
  font-family: Ubuntu;
  color: white;
}
.charge1{
  background-color: rgb(255, 180, 0);
  display: block;
  height: 15px;
  border: 3px solid rgb(255, 180, 0);
  margin-right: 650px;
}
.scooter2{
  font-family: Ubuntu;
  color: white;
}
.charge2{
  background-color: rgb(0, 185, 0);
  display: block;
  height: 15px;
  border: 3px solid rgb(0, 185, 0);
  margin-right: 500px;
}
.scooter3{
  font-family: Ubuntu;
  color: white;
}
.charge3{
  background-color: rgb(200, 0, 0);
  display: block;
  height: 15px;
  border: 3px solid rgb(200, 0, 0);
  margin-right: 750px;
}
